.body {
  height: 600px;

  .react-image-hotspots {
    img {
      max-width: 100%;
    }

    .hotspot {
      background: transparent !important;
      box-shadow: none !important;

      .ratio-1x1 {
        width: 25px;
        height: 25px;
      }
    }
  }
}
